.header {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  color: $font-alternative-color;
}

.header a {
  color: $font-color;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-size: 1.2rem;
  color: $font-color;
  padding: 0.5rem;
}

.tagline {
  color: $font-color;
}

.logo img {
  width: 100% !important;
  max-width: 300px !important;
  height: auto !important;
  width: auto !important;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .site-header {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    max-width: 200px;
  }

  .nav a {
    font-size: 1rem;
  }
}
