$main-background-color: #fff;
$font-color: #424141;
$font-alternative-color: #fff;
$accent-color: #e16299;
$background-color: #fff;
$footer-color: #4b434f;
$header-color: #ecd3e7;
$background-alternative-color: #cea9c3;
