{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="text-image-container">
            <div class="text-image-content">
                <figure class="profile-image-wrapper">
                    <img src="{{ assets_url }}/img/design.jpg" alt="design" class="profile-image">
                </figure>
                <div class="text-content">
                    {{ content|raw }}
                </div>
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
